@import './breakpoints';

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include tablet {

  .animation-slide-down {
    animation-name: slide-down;
    animation-duration: 1s;
  }

  .animation-slow-fade-in {
    animation-name: fade-in;
    animation-duration: 3s;
  }

}
