@import '~assets/css/animations';
@import '~assets/css/colors';

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  background-color: $background;
}

a {
  outline: 0;
}

.page-enter-active, .page-leave-active {
  transition: all .2s;
}

.page-enter, .page-leave-active {
  opacity: .3;
  opacity: 0.3;
  transform: translateX(100%);
}
